@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
}

.spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(
    transparent 0deg,
    transparent 220deg,
    #00f0ff 220deg,
    #00f0ff 300deg,
    transparent 300deg
  );
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}